<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:insert="~{login :: copy}"></div>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">ItNordic</a>
    <a class="navbar-brand" href="#">TTT</a>
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Spring Boot Calculator</h1>
        <!--        <tr th:each="name : ${names}">-->
        <!--            <h2>-->
        <!--                <span th:text="'Привет, ' + ${name} + '!'"></span>-->
        <!--            </h2>-->
        <!--        </tr>-->
        <span th:text="'1 < 2 ' + ${1 lt 2} + ' !'"></span>
    </div>

</main>
<!-- /.container -->

<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>