<div th:fragment="footer">
    <div class="mini-footer navbar-fixed-bottom fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright-text">
                        <p>© 2020
                            <a href="#">CharsNews</a>
                            <a href="#"></a>
                        </p>
                    </div>


                </div>
            </div>
        </div>
    </div>
    </footer>
</div>