<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Calculator</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">ItNordic</a>
</nav>
<main role="main" class="container">
<div class="starter-template">
    <form th:action ="@{/login}" th:object ="@{form}" method="post">
        <input type="text" name ="login" th:field="*{login}"  />
        <input type="password" name ="password" th:field="*{password}" />
        <input type="submit"/>

    </form>
</div>
</body>
</html>